.title {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	justify-items: left;
	gap: 20px;
}
.products {
	grid-column: 1 / -1;
}
@media screen and (max-width: 640px) {
	.title {
		grid-template-columns: 1fr;
		margin-bottom: 30px;
	}
}
