.sortIcon {
	display: none;
}
.active {
	font-weight: bold;
	color: var(--primary-color);
}
.active .sortIcon {
	display: block;
	margin-right: 8px;
}
.sort {
	display: inline-block;
	display: grid;
	grid-template-columns: auto auto;
	gap: 40px;
}
.sort > span {
	display: grid;
	grid-template-columns: 20px 1fr;
	align-items: center;
	cursor: pointer;
	gap: 8px;
}

.sort span:not(.active) {
	grid-template-columns: 1fr;
}
.asc {
	transform: scale(1, -1);
}
.desc {
	transform: none;
}
