.button {
	display: inline-block;
	box-sizing: border-box;
	padding: 10px;
	cursor: pointer;
	text-align: center;
	border: none;
	border-radius: 5px;
	font-size: 14px;
	transition: background-color 0.2s;
}
.primary {
	color: var(--white-color);
	background-color: var(--primary-color);
}

.primary:hover {
	background-color: var(--primary--hover-color);
}

.ghost {
	color: var(--text-color);
	background: none;
	border: 1px solid var(--secondary-color);
}
.ghost:hover {
	color: var(--white-color);
	background-color: var(--primary-color);
}

.arrow {
	display: inline-block;
	margin-left: 10px;
	transition: transform 0.2s;
}

.down {
	transform: rotate(90deg);
}

.primary svg,
.ghost:hover svg {
	fill: var(--white-color);
}
